* {
    margin: 0px;
    padding: 0px;
}

/* typography */
body {
    font-size: 20px;
    font-family: 'Karla', Arial, sans-serif;
    color: rgb(68, 44, 44);
}

h1, h2, h3 {
    font-family: 'Lato';
    font-weight: 400;
}

header h1,
#glist h2, #compare h2 {
    color: white;
}


/* footer styling  */

footer {
    padding: 50px;
    margin-top: 50px;
    background-color: #0D6719;
    color: white;
    font-size: 18px;
}
footer a {
    color: rgb(178, 238, 144);
    text-decoration: none;
}
footer a:hover {
    color: rgb(178, 238, 144);
    text-decoration: underline;
}
footer p {
    line-height: 1.8em;
}


/* setting up structure of page and elements */

/* header */
header {
    padding: 10px;
    background-color: #0D6719;
    border-bottom: 10px #74BA3B solid;
    /* display: flex;
    align-items: center; */
}
.sideheader>div {
    display: flex;
    align-items: center;
}
.mainheader>div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
header #logo {
    margin-right: 20px;
    width: 70px;
    height: auto;
}
header h1 {
    font-size: 30px;
}
.mainheader p {
    color: white;
    font-family: 'Lato';
    font-weight: 300;
}
.mainheader h1 {
    margin-bottom: 5px;
}

nav {
    background-color: rgba(13, 103, 25, 0.842);
}
nav ul {
    list-style-type: none;
    display: flex;
    /* background-color: rgba(13, 103, 25, 0.842); */
    padding: 15px 10px;
    margin-bottom: 20px;
}

nav ul li a {
    padding: 15px 10px;
    padding-right: 10px;
    text-decoration: none;
    color: rgb(236, 255, 219);
    /* border-radius: 20px; */
    margin-right: 20px;
    text-transform: uppercase;
}
nav ul li a:hover {
    background-color: lightseagreen;
    background-color: #0D6719;
}

/******************** GROCERY LIST ********************/

/* main content */

main article,
#alternatives article {
    margin: 0px 10px;
    margin-bottom: 20px;
}

#glist, #compare {
    border: solid 3px #0D6719;
    border-radius: 20px;
    margin-top: 30px;
}

main #glist h2, 
main #glist form, 
main #compare h2 {
    background-color: #0D6719;
    padding: 15px;
}
main #glist h2, 
main #compare h2 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
main #glist form {
    padding-top: 0px;
    color: rgb(178, 238, 144);
}

main #glist ol li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-bottom: solid lightgray 1px;
}

/* comparison box */
main #compare {
    display: flex;
    flex-wrap: wrap;
}
main #compare h2 {
    flex: 100%;
}
main #compare select {
    flex: 1;
}
main #compare section {
    padding: 10px;
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
}
main #compare #seasonality {
    display: initial;
}

main #compare section h3 {
    flex: 100%;
    /* align-self: center; */
}
main #compare canvas {
    flex: 1;
}



/* input styling */
button, 
input, 
select {
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
}

select {
    border: solid 2px #74BA3B;
    margin-top: 10px;
}

select:first-of-type, input[type='button']{
    margin-right: 20px;
}

input[type=text] {
    border: none;
    /* margin: 10px 0px; */
    border: solid 2px #74BA3B;
    margin-right: 20px;
    color: green;
    flex: 1;
}

.deleteBtn {
    background-color: rgb(224, 224, 224);
    border: none;
}

form p {
    display: flex;
    justify-content: space-between;
}

/* information styling */
#seasonality {
    overflow: hidden;
}
#seasonality>div {
    flex: 1;
    display: flex;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin-top: 10px;
}
#seasonality div p {
    flex: 1;
    font-size: 12px;
}
.dot {
    border-radius: 50%;
    color: white;
    font-size: 10px;
    max-width: 15px;
    height: 15px;
    flex: 1;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
}
.available {
    background-color: #74BA3B;
}
.notAvailable {
    background-color: rgb(192, 191, 191);
}

#water h3 {
    margin-bottom: 10px;
}


/******************** STORY SECTION ********************/

#story > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#story {
    margin: 10px;
}


#story p {
    line-height: 1.5em;
    margin: 10px;
}

/******************** BROWSE AND ALTERNATIVES SECTION ********************/

#browse, 
#alternatives {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#browse section, 
#alternatives section {
    flex: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#browse section input {
    width: 300px;
    border: solid 2px #74BA3B;
    margin-top: 10px;
}

#browse article, 
#alternatives article {
    flex: 100%;
    margin-bottom: 40px;
    /* border: black solid 2px; */
    border-radius: 20px;
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.43);
}
#browse img, 
#alternatives img {
    width: 100%;
    height: auto;
}
#browse article p,
#alternatives article p {
    color: white;
    font-size: 28px;
    line-height: 2em;
    background-color: #0D6719;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
#browse button,
#alternatives button {
    background-color: #74BA3B;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
#browse button:hover,
#alternatives button:hover {
    background-color: rgb(149, 219, 92);
    border: none;
}

/******************** SINGLE ITEM PAGE ********************/


#singleitem {
    display: block;
    padding: 10px;
}

#singleitem input {
    width: 200px;
    margin: 10px;
}

#item img {
    /* width: 100%; */
    /* height: 100%; */
    height: 100%;
}
#singleitem h2 {
    color: rgb(68, 44, 44);
    margin-bottom: 20px;
}

#item {
    margin: 40px 0px;
}

#alternatives {
    justify-content: left;
}

#singleitem h3 {
    color: rgb(68, 44, 44);
}
#alternatives h3 {
    font-size: 30px;
    margin: 40px 0px;
    flex: 100%;
}


@media only screen and (min-width: 600px) {
    main {
        display: flex;
        /* justify-content: space-around; */
        /* justify-content: flex-start; */
        padding: 0px 40px;
        margin: 0px;
    }
    #glist {
        margin-right: 40px;
        /* flex: 1; */
        /* width: 40% */
    }
    #compare {
        margin-right: 0px;
        flex: 4;
        /* width: 60%; */
    }

    #seasonality div p {
        font-size: 20px;
    }

    header {
        padding: 20px 40px;
    }

    header h1 {
        font-size: 36px;
    }
    
    header #logo {
        width: 120px;
    }
    
    nav ul {
        padding: 15px 40px;
        /* margin-bottom: 30px; */
    }

    #story section {
        display: flex;
        align-items: center;
    }
    
    #story section img {
        flex: 1;
        max-width: 300px;
    }
    #story div{
        flex: 4;
    }

    #browse article,
    #alternatives article {
        /* flex: 1; */
        flex: 45%;
        max-width: 45%;
    }
    #browse article:nth-child(2n),
    #alternatives article:nth-child(2n) {
        /* margin-right: 20px; */
    }

    #singleitem {
        padding: 0px 40px;
    }

    #singleitem input {
        width: 55%;
    }

    #singleitem #item {
        display: flex;
    }

}


@media only screen and (min-width: 900px) {
    #browse article,
    #alternatives article {
        /* flex: 1; */
        flex: 30%;
        max-width: 30%;
        margin-right: 0px;
    }
    #browse article:nth-child(3n),
    #alternatives article:nth-child(3n) {
        /* margin-right: 20px; */
    }

    #singleitem  input {
        width: 70%;
    }
}


@media only screen and (min-width: 1024px) {
    
    .mainheader>div {
        justify-content: right;
    }

    #browse,
    #alternatives,
    main, 
    .mainheader h1, 
    .sideheader div,
    nav ul, 
    .mainheader>div,
    footer div {
        max-width: 1024px;
        margin: auto;
    }
    nav ul {
        margin-bottom: 20px;
    }
    #browse article,
    #alternatives article {
        /* flex: 1; */
        flex: 20%;
        max-width: 22%;
        margin-right: 0px;
        margin-bottom: 35px;
    }

    main #glist {
        flex: 1;
    }
    main #compare {
        flex: 5;
    }

}


/************* CLASSES FOR JS **************/

.hidden {
    display: none;
}

.collapsable {
    /* border: blue solid 1px; */
    transition: all 1s;
}