* {
    margin: 0px;
    padding: 0px;
}

/* typography */
body {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(68, 44, 44);
}

h1, h2 {
    color: white;
}


/* setting up structure of page and elements */

/* header */
header {
    padding: 60px 40px;
    background-color: #0A5714;
    border-bottom: 10px #74BA3B solid;
    margin-bottom: 40px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(236, 255, 219);
    background-color: #74BA3B;
    border-radius: 20px;
    margin-right: 20px;
}
header nav ul li a:hover {
    background-color: lightseagreen;
}

/* main content */

main article {
    margin: 0px 40px;
    margin-bottom: 20px;
}

#glist, #compare {
    border: solid 1px #0A5714;
    border-radius: 20px;
}

main #glist {
    flex: 2;
}
main #glist h2, 
main #glist form, 
main #compare h2 {
    background-color: #0A5714;
    padding: 15px;
}
main #glist form {
    padding-top: 0px;
    color: rgb(178, 238, 144);
}
main #glist h2, 
main #compare h2 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main #glist ol li {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: solid lightgray 1px;
}

/* comparison box */
main #compare {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}
main #compare h2 {
    flex: 100%;
    margin-bottom: 20px;
}
main #compare section {
    padding: 10px;
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: red solid 1px; */
}
main #compare #seasonality {
    /* background-color: blue; */
    display: initial;
}
main #compare #seasonality canvas {
    display: block;
    width: 100%;
    height: 20px;
}
main #compare section h3 {
    flex: 100%;
    align-self: center;
}
main #compare canvas {
    /* border: solid black 1px; */
    flex: 1;
}
main #compare select {
    flex: 1;
}

/* footer styling  */

footer {
    padding: 50px;
    margin-top: 50px;
    background-color: #0A5714;
    color: white;
    font-size: 18px;
}
footer a {
    color: rgb(178, 238, 144);
    text-decoration: none;
}
footer a:hover {
    color: rgb(178, 238, 144);
    text-decoration: underline;
}
footer p {
    line-height: 1.8em;
}


/* input styling */
button, 
input, 
select {
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px;
}

select:first-of-type {
    margin-right: 10px;
}

input[type=text] {
    border: none;
    margin: 10px 0px;
    margin-right: 20px;
    color: green;
}

.deleteBtn {
    background-color: rgb(224, 224, 224);
    border: none;
}

/* information styling */

#seasonality div {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
#seasonality div p {
    flex: 1;
}
.dot {
    border-radius: 50%;
    color: white;
    font-size: 12px;
    max-width: 15px;
    height: 15px;
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}
.available {
    background-color: #74BA3B;
}
.notAvailable {
    background-color: rgb(192, 191, 191);
}

#water h3 {
    margin-bottom: 10px;
}


@media only screen and (min-width: 700px) {
    main {
        display: flex;
        justify-content: space-around;
    }
    main article:last-of-type {
        margin-left: 0px;
    }
}